---
layout: page
---

<div style="background-color: #f0f4f5; display: flex; align-items: center; padding: 20px;">
    <img src="/assets/img/portrait.jpg" alt="portrait" style="width: 150px; height: 150px; border-radius: 50%; margin-right: 20px;">
    <div class="content">
        <h1>Hi there, I'm Raluca</h1>
        <p><strong>Work:</strong> My research interests lie in the application of machine learning methods for image and language tasks. I currently work as a Machine Learning Engineer at <a href="https://www.accenture.com/ch-en">Accenture.</a> </p>
        <p><strong>Education:</strong> I have graduated with a PhD in Biomedical Engineering, where my thesis topic was analysis of medical images (CT scans) for improving liver cancer treatments. You can find more information about my PhD topic in one of my <a href="https://www.frontiersin.org/journals/oncology/articles/10.3389/fonc.2021.623098/full">publications</a>. My PhD research has been integrated into a clinical <a href="https://www.cascination.com/en/ablasure">commercial product</a> at a Swiss medical device company.</p>
        <p><strong>Hobbies:</strong> I like to spend time outdoors doing sports like surfing, skiing, snowboarding, or SUP. Additionally, I enjoy reading fiction and teaching new tricks to my cats.</p>
    </div>
</div>

